:root.dark {
    --bg-color-1: #333333;
    --bg-color-2: #3E4D32;
    --tx-color-1: #E0E0E0;
    --tx-color-2: #d1c6b1;
    --ac-color-1: #b2763d;
    --ac-color-2: #b4c8b6;
    --tx-default: #e9e9e9;
    --img-invert: 100%;
}

:root.light {
    --bg-color-1: #e3f2e1;
    --bg-color-2: #f5f1e3;
    --tx-color-1: #2c6e49;
    --tx-color-2: #5d3f32;
    --ac-color-1: #d4c26c;
    --ac-color-2: #afafaf;
    --tx-default: #242424;
    --img-invert: 0%;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: var(--tx-default);
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 140px 1fr;
}

#sidebar {
    background-color: var(--bg-color-1);
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: 1fr 3fr 5fr;
    gap: 40px;
    justify-content: center;
}

#dashboard {
    font-size: 1.2rem;
    align-self: center;
    font-weight: bold;
}

.dashboard-logo {
    height: 40px;
    vertical-align: middle;
    padding-right: 10px;
}

#options-1, #options-2 {
    font-size: 1rem;
}

.options {
    font-weight: bold;
}

.option {
    height: 30px;
}

.icon {
    vertical-align: middle;
    height: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

li {
    text-decoration: none;
    list-style-type: none;
}

#header {
    background-color: var(--bg-color-2);
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

#headtop {
    display: grid;
    grid-template-columns: 1fr 250px;
}

#search {
    display: grid;
    grid-template-columns: 50px 9fr;
    align-items: center;
    justify-content: space-around;
}

.search-icon {
    height: 20px;
    align-self: center;
    margin-left: 20px;
}

.search-bar {
    border: none;
    border-radius: 1rem;
    height: 1.7rem;
    font-size: 1rem;
    background-color: lightgrey;
    margin-right: 80px;
}

#admin-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    justify-content: space-around;
    align-items: center;
}

.admin-icon {
    height: 20px;
}

#account {
    font-weight: bold;
}

#headbottom {
    display: grid;
    grid-template-columns: 1fr repeat(3, 110px);
    padding-top: 30px;
}

.welcome {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr 2fr;
}

.welcome-img {
    grid-area: 1/1/3/2;
    height: 40px;
    padding-left: 30px;
}

.welcome > span {
    font-weight: bold;
}

.greeting {
    font-size: .8rem;
}

.personal {
    font-size: 1.2rem;
}

.head-button {
    border: 1px var(--ac-color-1) solid;
    border-radius: 1rem;
    background-color: var(--bg-color-1);
    height: 2.6rem;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 2rem;
}

#content {
    background-color: var(--ac-color-2);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding-bottom: 4rem;
    padding-right: 2rem;
}

#projects {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: space-evenly;
}

#projects > h2 {
    grid-area: 1/1/2/3;
    margin: 1rem 0 0 1.6rem;
}

.card {
    background-color: var(--bg-color-2);
    border-left: .6rem var(--ac-color-1) solid;
    border-radius: 1rem;
    margin-left: 1rem;
    display: grid;
    grid-template-rows: 2.5rem 7rem 1fr;
    padding-left: 1rem;
    min-width: 240px;
}

.project-head {
    padding-top: 1.2rem;
    grid-row: 1/2;
}

.project-snippet {
    grid-row: 2/3;
    font-size: 1rem;
    margin-right: 1rem;
}

.icon-set {
    grid-row: 3/4;
    display: flex;
    justify-content: end;
    border-collapse: collapse;
}

.icon-set > img {
    height: 20px;
    margin-right: 1.3rem;
    margin-bottom: 1rem;
}

#announcements {
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
}

#announcements > h2 {
    margin: 1rem 0 0 1rem;
}

#announce-card {
    background-color: var(--bg-color-2);
    border: none;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1.2rem;
    gap: 1.2rem;
}

.u-line {
    border-bottom: 1px solid var(--ac-color-1);
}

.announcement > h4 {
    font-size: .9rem;
    font-weight: bold;
}

.announcement > .snippet {
    font-size: .8rem;
    margin-bottom: 1rem;
}

#trends {
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
}

#trends > h2 {
    margin: 1rem 0 0 1rem;
}

#trend-card {
    background-color: var(--bg-color-2);
    border: none;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1.2rem;
    gap: 1.2rem;
}

.trend {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.trend > img {
    height: 40px;
    grid-area: 1/1/3/2;
    border: 2px solid var(--ac-color-1);
}

.user-tag {
    font-weight: bold;
    font-size: .9rem;
}

.user-line {
    font-size: .8rem;
}

img {
    -webkit-filter: invert(--img-invert);
    filter: invert();
}